<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.welab.financial.dao.AccountDao" >
  <resultMap id="BaseResultMap" type="com.welab.financial.entity.Account" >
    <id column="zwid" property="accountId" jdbcType="BIGINT" />
    <result column="flname" property="detail" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="zhangHu" property="paymentTerm" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="DATE" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
  		zwid, flname, money, zhangHu, createtime, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gjp_zhangwu
    where zwid = #{accountId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.welab.financial.entity.Account" >
    insert into gjp_zhangwu ( zwid, flname , money , zhangHu , createtime , description)
    values (#{accountId,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE}, 
      #{paymentTerm,jdbcType=VARCHAR},#{createTime,jdbcType=DATE},#{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.welab.financial.entity.Account" >
    insert into gjp_zhangwu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        zwid,
      </if>
      <if test="detail != null" >
        flname,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="paymentTerm != null" >
        zhangHu,
      </if>
      <if test="createTime != null" >
        createtime,
      </if>
      <if test="description != null" >
        description,
      </if>      
    </trim>
    
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        #{flname,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="paymentTerm != null" >
        #{paymentTerm,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gjp_zhangwu
    where zwid = #{accountId,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.welab.financial.entity.Account" >
    update gjp_zhangwu
    <set >
      <if test="accountId != null" >
       zwid = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        flname = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="paymentTerm != null" >
       zhangHu = #{paymentTerm,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
       createtime = #{createTime,jdbcType=DATE},
      </if>
      <if test="description != null" >
       description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where zwid = #{accountId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.welab.financial.entity.Account" >
    update gjp_zhangwu
    set zwid = #{accountId,jdbcType=VARCHAR},
      flname = #{detail,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      zhangHu = #{paymentTerm,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=DATE},
      description = #{description,jdbcType=VARCHAR},
    where zwid = #{accountId,jdbcType=INTEGER}
  </update>
</mapper>